openapi: 3.0.3
servers:
  - url: https://dummy.com
    description: "Server description"
info:
  contact:
    email: developer-experience@dummy.com
  title: Dummy Payment API
  version: '68'
tags:
  - name: Modifications
    description: "Modifications"
  - name: General
    description: "General"
paths:
  /authorise:
    post:
      summary: Creates a payment.
      requestBody:
        description: "Payment request."
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/payment-request'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResult2'
          description: OK - the request has succeeded.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
          description: Bad Request - a problem reading or understanding the request.
      security:
        - ApiKeyAuth: []
      tags:
        - General
  /donate:
    post:
      operationId: post-&//?donate
      requestBody:
        description: "Donation request."
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DonationRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  additionalData:
                    additionalProperties:
                      type: string
                    description: This field contains additional data, which may be returned in a particular modification response.
                    type: object
                  pspReference:
                    description: 16-character string reference associated with the transaction/request. This value is globally unique; quote it when communicating with us about this request.
                    type: string
                  response:
                    description: Indicates if the modification request has been received for processing.
                    enum:
                      - '[capture-received]'
                      - '[cancel-received]'
                      - '[refund-received]'
                      - '[cancelOrRefund-received]'
                      - '[adjustAuthorisation-received]'
                      - '[donation-received]'
                      - '[technical-cancel-received]'
                      - '[voidPendingRefund-received]'
                    type: string
                required:
                  - response
                  - pspReference
                type: object
          description: OK - the request has succeeded.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
          description: Bad Request - a problem reading or understanding the request.
      security: []
      summary: Create a donation
      tags:
        - Modifications
components:
  schemas:
    AdditionalDataWallets:
      properties:
        androidpay.token:
          description: The Android Pay token retrieved from the SDK.
          type: string
        masterpass.transactionId:
          description: The Mastercard Masterpass Transaction ID retrieved from the SDK.
          type: string
        payment.token:
          description: The Apple Pay token retrieved from the SDK.
          type: string
        paywithgoogle.token:
          description: The Google Pay token retrieved from the SDK.
          type: string
        samsungpay.token:
          description: The Samsung Pay token retrieved from the SDK.
          type: string
        visacheckout.callId:
          description: The Visa Checkout Call ID retrieved from the SDK.
          type: string
      type: object
    Amount:
      properties:
        currency:
          description: The three-characters.
          maxLength: 3
          minLength: 3
          type: sring
        value:
          description: The amount of the transaction.
          format: int64
          type: integer
      required:
        - value
        - currency
      type: object
    DonationRequest:
      properties:
        donationAccount:
          description: Account name of the charity.
          type: string
        merchantAccount:
          description: The merchant account that is used to process the payment.
          type: string
        modificationAmount:
          $ref: '#/components/schemas/Amount'
        originalReference:
          description: |+
            The original pspReference of the payment to modify.
            This reference is returned in:
            * authorisation response
            * authorisation notification

          type: string
        platformChargebackLogic:
          $ref: '#/components/schemas/PlatformChargebackLogic'
        reference:
          description: |-
            Your reference for the payment modification. This reference is visible in Customer Area and in reports.
            Maximum length: 80 characters.
          type: string
      required:
        - merchantAccount
        - donationAccount
        - modificationAmount
      type: object
    PaymentRequest:
      properties:
        additionalData:
          anyOf:
            - properties:
                enhancedSchemeData.customerReference:
                  description: |-
                    Customer code, if supplied by a customer.
                    * Encoding: ASCII
                    * maxLength: 25
                  type: string
                enhancedSchemeData.employeeName:
                  description: |-
                    Name or ID associated with the individual working in a temporary capacity.
                    * maxLength: 40
                  type: string
              type: object
            - $ref: '#/components/schemas/AdditionalDataWallets'
          description: This field contains additional data, which may be required for a particular payment request.
          type: object
        amount:
          $ref: '#/components/schemas/Amount'
      type: object
    PaymentResult:
      properties:
        additionalData:
          anyOf:
            - $ref: '#/components/schemas/ResponseAdditionalData3DSecure'
            - $ref: '#/components/schemas/ResponseAdditionalDataBillingAddress'
            - properties:
                cardBin:
                  description: |-
                    The first six digits of the card number.
        
                    This is the for card numbers with a six-digit BIN.
        
                    Example: 521234
                  type: string
              type: object
          type: object
      type: object
    PlatformChargebackLogic:
      properties:
        behavior:
          enum:
            - deductAccordingToSplitRatio
            - deductFromLiableAccount
            - deductFromOneBalanceAccount
          type: string
        costAllocationAccount:
          type: string
        targetAccount:
          type: string
      type: object
    ResponseAdditionalData3DSecure:
      properties:
        cardHolderInfo:
          description: 'Information provided by the issuer to the cardholder. If this field is present, you need to display this information to the cardholder.'
          type: string
        cavv:
          description: The Cardholder Authentication Verification Value (CAVV) for the 3D Secure authentication session, as a Base64-encoded 20-byte array.
          type: string
        cavvAlgorithm:
          description: The CAVV algorithm used.
          type: string
        scaExemptionRequested:
          type: string
        threeds2.cardEnrolled:
          description: Indicates whether a card is enrolled for 3D Secure 2.
          type: boolean
      type: object
    ResponseAdditionalDataBillingAddress:
      properties:
        billingAddress.city:
          description: The billing address city passed in the payment request.
          type: string
        billingAddress.country:
          description: |-
            The billing address country passed in the payment request.

            Example: NL
          type: string
        billingAddress.houseNumberOrName:
          description: The billing address house number or name passed in the payment request.
          type: string
        billingAddress.postalCode:
          description: |-
            The billing address postal code passed in the payment request.

            Example: 1011 DJ
          type: string
        billingAddress.stateOrProvince:
          description: |-
            The billing address state or province passed in the payment request.

            Example: NH
          type: string
        billingAddress.street:
          description: The billing address street passed in the payment request.
          type: string
      type: object
    ServiceError:
      properties:
        errorCode:
          description: The error code mapped to the error message.
          type: string
      type: object
  securitySchemes:
    ApiKeyAuth:
      in: header
      name: X-API-Key
      type: apiKey
